{% extends "index.html" %}

{% block title_page %}
{{ view }}
{% endblock  %}

{% block content %}

<div class="row" style="margin-bottom: 20px;">
    <div class="offset-lg-2 col-lg-8 col-md-12">
        <input type="search">
        <button class="btn btn-info">Buscar</button>
        <a class="btn btn-primary" href="{{ add }}">Agregar</a>
    </div>
</div>
<div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </thead>
            <tbody>
                {% for form in forms %}
                <tr>
                    <td style="padding-left: 12px; padding-right: 12px;">
                        {{form.id}}
                        <br>
                    </td>
                    <form method="POST" action="{{ update }}">
                        <input type="hidden" value="{{form.id}}" name="id">
                        <td>
                            <input type="text" value="{{form.name}}" name="name">
                        </td>
                        <td>
                            <input type="submit" class="btn btn-info" value="Update">
                        </td>
                    </form>
                    <td>
                        <form method="POST" action="{{ delete }}" style="display: inline">
                            <input type="hidden" value="{{form.id}}" name="id">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}