{% extends "index.html" %}

{% block title_page %}
Login
{% endblock  %}


{% block content %}
<div class="container">

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert-message block-message error">
        <a class="close" href="#">×</a>
        <ul>
            {% for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>
    </div>
    {% endif %}
    {% endwith %}


    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="usuario" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="contrasena" required>
        </div>
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
</div>
{% endblock %}