{% extends "index.html" %}

{% block title_page %}
Agregar Proyecto al portafolio
{% endblock  %}

{% block content %}

<div class="row">
  <div class="offset-lg-2 col-lg-8 col-md-12">

    <div class="card">
        
      <div class="card-header">
        <h1 style="text-align: center;">Agregar</h1>
      </div>
      <div class="card-body">
        <form action="" method="POST" class="form-group">
          <input type="text" name="descripcion" class="form-control mb-20" placeholder="Descripcion" required>
          <button type="submit" class="btn btn-success ">Agregar</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}