<div class="col-md-3 col-lg-3 col-xl-2 bg-dark" >
    <div class="sidenav">
        <a href="{{ url_for('gestion.home2')}}">Menu</a>
        <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
        {% if current_user.is_authenticated and current_user.is_admin() %}
            <a href="#">Configuración</a>
            <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
            <a href="{{ url_for('gestion.procesos')}}">Disciplinas del Proceso</a>
            <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
            <a href="{{ url_for('gestion.soporte')}}">Disciplinas de Soporte</a>
            <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
            <a href="{{ url_for('usuarios.perfiles')}}">Perfiles de Usuarios</a>
            <hr style="width: 70%; border-top: 1px solid #bfbfbf;">

            <button class="dropdown-btn">Grupos de Procesos 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
            <a href="{{ url_for('gestion.gruposp') }}">Grupos de Procesos</a>
                {% for g in groups %}
                    <a href="{{ url_for('gestion.custom_group', grupo=g.id) }}">{{g.name}}</a>
                {% endfor %}
            </div>
            <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('usuarios.logout') }}">Logout</a>
        <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
        {% else %}
        <a href="{{ url_for('usuarios.login') }}">Login</a>
        <hr style="width: 70%; border-top: 1px solid #bfbfbf;">
        {% endif %}
    </div>
</div>