<ul class="nav flex-column flex-nowrap">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('gestion.home2')}}">Menu</a>
    </li>
    {% if current_user.permiso == 3 or current_user.permiso == 1 %}
        <li class="nav-item">
            <a href="{{ url_for('gestion.gruposp2h') }}">Grupos de Procesos Habilitadores</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('gestion.gruposp2s') }}">Grupos de Procesos de Soporte</a>
        </li>
    {% endif %}
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <li class="nav-item">
            <div class="nav-link dropdown-btn">Configuración
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-container">
                <a href="{{ url_for('gestion.procesos')}}">Disciplinas del Proceso</a>
                <a href="{{ url_for('gestion.soporte')}}">Disciplinas de Soporte</a>
                <a href="{{ url_for('gestion.tec_her')}}">Tecnicas y Herramientas</a>
                <a href="{{ url_for('gestion.actores')}}">Actores</a>
                <a href="{{ url_for('gestion.portafolio')}}">Portafolio</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link dropdown-btn">Grupos de Procesos 
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-container">
                {% if current_user.is_admin() %}
                    <a href="{{ url_for('gestion.gruposp') }}">Grupos de Procesos</a>
                    {% for g in groups %}
                        <a href="{{ url_for('gestion.custom_group', grupo=g.id) }}">{{g.name}}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usuarios.perfiles')}}">Perfiles de Usuarios</a>
        </li>
    {% endif %}
        {% if current_user.permiso==2 or current_user.permiso==1 %}
        <li class="nav-item">
            <a href="{{ url_for('gestion.informe_portafolio') }}">Grupos de Procesos de Soporte</a>
        </li>
        {% endif %}
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usuarios.logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usuarios.login') }}">Login</a>
        </li>
        
    {% endif %}
</ul>
